<suite name="Test Suite for MPS" parallel="methods" thread-count="1">

    <parameter name="Environment" value="STAGE" />
    <parameter name="Site" value="bravo-web" />

    <test name="Tests">

        <!-- Enter group name for specific test scripts -->
        <groups>
            <run>
                <include name="test" />
            </run>
        </groups>

        <!-- Add individual packages you wanted to execute below -->
        <packages>
            <package name="com.nbcuni.test.mps.*" />
        </packages>

        <!-- Add individual classes you wanted to execute below -->
        <classes>
            <!-- run>
                <class name="com.nbcuni.test.mps.integration.TC5870_Integration_Verify_correlator_functionality"/>
            </run-->
        </classes>
    </test>

    <listeners>
        <listener class-name="com.nbcuni.test.webdriver.CustomWebDriverExceptionListener" />
    </listeners>

</suite>
